@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Eduardo Bariquello</p>
<p> C#/ASP.NET MVC/SharePoint Architect</p>
<p> Mobile: 11981956008</p>
<p> Mail: ebariquello@hotmail.com</p>
