@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1Agenda - EVO</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Bem-Vindo à Agenda - EVO</h2>
        <p>
            Agenda - EVO é uma aplicação exemplo que
            demonstra como usar o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application.
            Para iniciar a aplicação  <a asp-area="" asp-controller="Contacts" asp-action="Index">clique aqui </a>
        </p>
    </div>
 
</div>
